<h3>Bonjour,</h3>
<p>
    La prochaine maintenance prévue sur <b>{{ immatriculation }}</b> est {{ introduction }} <b>{{ time }}</b>.<br/>
    En effet, l'horamètre de cet aéronef est actuellement à {{ horametre }} heures et le prochain entretien est fixé aux {{ entretien }} heures.
</p>

<p>
    {{ client.name }}<br/>
    TEL: {{ client.phone }}<br/>
    <a href="mailto:{{ client.email }}">Nous écrire</a> - <a href="{{ client.website }}">{{ client.website|replace({'https://': '', 'http://': ''}) }}</a>
</p>